{% load static %}
{% load bootstrap4 %}
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container" style="height: 40vh;width:100vw;position:absolute;top:30vh;left:20vw;border-width:10px;border-style:solid;border-color:black;padding:10vh;background-color:silver">
            <h3 class="text-center">Enter OTP sent to your number {{mobile}}</h3>
            {% if message %}
                <div class="alert alert-{{class}}">
                    {{message}}
                </div>
            {% endif %}
            <form method="POST" style="position:relative;margin-top:20px;margin-left:17vw;">{% csrf_token %}
                <input type="number" name='otp' placeholder="Enter OTP">
                <button type="submit" class="btn btn-primary">Verify</button>
            </form>
        </div>
    </body>
</html>